:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
    --card-background: rgb(31,38,48);
    --body-background: rgb(14,14,14);
    --circles-background: rgb(38,47,56);
    font-size: 15px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body{
    background-color: var(--body-background);
}
main{
    height: 100vh;
}
div{
    color: var(--medium-grey);
}
h1{
    width: 100%;
    color: var(--white);
    font-size: 1.5rem;
}
p{
    color:var(--light-grey);
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.card{
    margin: auto;
    background-color: var(--card-background);
    width: 90vw;
    height: 50vh;
    border-radius: 5%;
}
.cardContent{
    width: 88%;
    height: 90%;
    text-align: left;
}
.disabled{
    display: none;
}
.scores{
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
}
.scores div, .scores .buttonSelect, .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: var(--circles-background);
    border: 0;
    border-radius: 50%;
}
.starIconContainer{
    width: 100%;
}
button{
    color: var(--light-grey);
}
.buttonSelect:hover, .buttonSelected:hover{
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.submit{
    background-color: var(--orange);
    color: var(--white);
    border-radius: 2rem;
    width: 100%;
    line-height: 3;
    font-weight: 700;
}
.submit:hover{
    background-color: var(--white);
    color: var(--orange);
    cursor: pointer;
}
.align-center{
    text-align: center;
}

.buttonSelected{
    background-color: lightgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 50%;
}
.scoreSelected{
    border-radius: 1.5rem;
    padding:0 .8rem;
    background-color: var(--circles-background);
}
.scoreSelected p{
line-height: 2;
    color:var(--orange)
}
@media (min-width: 700px){
    .card{
        width: 21vw;
    }
}